@mixin pokebox($src) {
    padding: 2em 5em 1.5em 2em;
    border-image-slice: 10 19 7 8 fill;
    border-image-width: 1.8em 3.6em 1.1em 1.4em;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: round round;
    border-image-source: $src;
    image-rendering: pixelated;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p,
    h2,
    h3,
    h4,
    h5,
    a {
        max-width: 80%;
        line-height: 1.5;
    }
}

.red-black-box {
    @include pokebox(url("images/assets/redbox.png"));
}

.textbox {
    @include pokebox(url("images/assets/textbox.png"));

    padding-top: 1.75em;
    padding-right: 3em;
}

@keyframes bob {
    0% {
        top: 0.25em;
    }

    50% {
        bottom: 0;
    }

    100% {
        bottom: 0.25em;
    }
}

.textbox-arrow {
    position: relative;
    align-self: flex-end;
    height: 1em;
    width: 1.75em;
    margin-bottom: 0.25em;
    animation: bob 1.5s step-start infinite;
}
