// Fonts
@import "fonts/galmuri.css";

// Imports
@import "components.css";
@import "pokeboxes.css";

// Color vars
$fgc: #4f5757;
$bgc: #f8f8f8;
$shadowc: #a8a8a8;
$link: #d14635;

// Font vars
$prose: "Galmuri9";
$headers: "Galmuri11";

//Other vars
$full-width: 65em;
$pixel: 0.175em;

// Elements and classes
body {
    color: $fgc;
    text-shadow: 0.05em 0.05em $shadowc;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/media/background.png");
    background-size: 20%;
}

p,
a {
    font-family: $prose;
    font-size: 1em;
}

h1,
h2,
h3,
h4 {
    font-family: $headers;
    font-weight: 600;
    image-rendering: pixelated;
}

b {
    font-family: "Galmuri11";
    font-weight: 600;
}

h1 {
    text-align: center;
    font-size: 2em;
}

.main h1 {
    text-align: left;
    line-height: 2.25;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

h2 {
    font-size: 1.5em;
    line-height: 2.5;
}

a {
    color: $link;
}

header,
footer {
    width: $full-width + 2em;
    position: relative;
    overflow: hidden;

    div {
        width: 100%;
    }
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 1em;

    // Header is offset for a seamless transition between it and the main section
    // -1em at the end is to account for the above offset
    margin-top: 2em - 1em;
}

footer {
    bottom: 1em;

    // Footer is offset for a seamless transition between it and the main section
    // -1em at the end is to account for the above offset
    margin-bottom: 5em - 1em;
}

.stamp {
    width: 6.5em;
    aspect-ratio: 88/31;
}

.sbox {
    display: inline-block;
    text-align: center;
    height: 3em;

    img {
        height: 100%;
    }

    p {
        font-family: galmuri7;
        font-size: 0.8em;
        position: relative;
        bottom: 0;
    }
}

.flag {
    height: 3em;
    aspect-ratio: 3/2;
    border-radius: 4%;
}

.sidebar-button {
    border-image-source: url("images/assets/btn.png");
    border-image-slice: 9 8 5 8 fill;
    border-image-width: 0.9em 0.8em 0.5em 0.8em;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    image-rendering: pixelated;
    padding: 0.5em 1em 0.35em;
    margin: 0.25em 0;

    a {
        color: $fgc;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        width: 100%;

        p {
            width: 75%;
        }
    }
}

.sidebar-button:hover {
    border-image-source: url("images/assets/btnp.png");

    a {
        position: relative;
        bottom: 0.179em;
    }
}

.blog-link {
    color: $fgc;
    line-height: 2;
}

.blog-text {
    margin-top: 0.7rem;
}

// IDs (and one-per-page classes)
section.main {
    background-color: $bgc;
    width: $full-width;
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $fgc;
    color: $bgc;
    padding: 2em;
    padding-bottom: 3em;

    p {
        line-height: 1.75;
    }
}

.maintext {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 1em 2em 3em;
}

#stc {
    margin-top: 1em;
    height: 3.5em;

    textarea {
        border: 0.1em solid $fgc;
        font-family: monospace;
        position: relative;
        bottom: 40%;
    }
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2.5em;
}

// basic responsiveness
@media screen and (max-width: 1000px) {
    section.main {
        flex-direction: column-reverse;
        width: 90%;
    }

    header,
    footer {
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    .flag {
        display: none;
    }
}
