<div class="arrowed textbox" style="flex-direction: column">
    <p>{{ body | markdown(inline=true) | safe }}</p>
    <img src='{{ get_url(path="images/assets/arrow.png") }}' class="textbox-arrow" />
</div>
