{% extends "base.html" %}
{% block title %}
    404 - angel-val
{% endblock title %}
{% block content %}
    <h1>404</h1>
    <p>
        Page not found. <a href="/">Go back home!</a>
    </p>
{% endblock content %}
