<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="icon" type="image/x-icon" href="{{ get_url(path="images/media/pfp.png") }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ get_url(path="reset.css") }}">
        <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
    </head>
    <body>
        <header class="red-black-box">
            <img src="{{ get_url(path="images/flags/ancom.png") }}" alt="anarcho-communist flag" class="flag">
            <h1>angel-val</h1>
            <img src="{{ get_url(path="images/flags/trans.png") }}" alt="transgender pride flag" class="flag">
        </header>
        <section class="main">
            <div class="sidebar">
                {%- include "sidebar.html" -%}
            </div>
            <div class="maintext">
                {% block content %}{% endblock %}
            </div>
        </section>
        <footer class="red-black-box">
            <p>
                <a href="#top">back to top</a> —
                <a href="https://gitlab.com/angel-val/angel-val.gitlab.io/"
                   target="_blank">gitlab repo for this page</a>
            </p>
        </footer>
    </body>
</html>
