{% extends "base.html" %}
{% block title %}
    blog - angel-val
{% endblock title %}
{% block content %}
    <h2 class="title">{{ section.title }}</h2>
    <ul>
        {% for page in section.pages %}
            <li>
                <a class="blog-link" href="{{ page.permalink | safe }}">{{ page.date }} - {{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
