{% extends "base.html" %}
{% block title %}
    blog - angel-val
{% endblock title %}
{% block content %}
    <h2>{{ page.title }}</h2>
    <p>
        <b>{{ page.date }}</b>
    </p>
    <p class="blog-text">{{ page.content | safe }}</p>
{% endblock content %}
