{% extends "base.html" %}
{% macro stamp(link, img) %}
    <a href="{{ link }}" target="_blank">
        <img src="{{ img }}" class="stamp" />
    </a>
{% endmacro stamp %}
{% macro social_link(link, img, name) %}
    <a href="{{ link }}" target="_blank" class="sbox">
        <img class="sicon" src="{{ img }}" />
        <p>{{ name }}</p>
    </a>
{% endmacro stamp %}
{% block title %}
    angel-val
{% endblock title %}
{% block content %}
    <h1>Welcome</h1>
    <p>
        Hello! My name is angel (she/her), and I'm a dog
        <br />
        I like software/game dev, making music occasionally, and public transport/urban planning.
        I am a passenger operator in New Zealand (I clip tickets, basically).
        <br />
        <br />
        Sign the
        <a href="https://angel-val.123guestbook.com/" target="_blank">guestbook</a>
        to let me know you were here!
    </p>
    <h1>My stuff</h1>
    <p>
        If you want to see my games and other programming projects, you can check out
        my gitlab or itch.io, or look at the <a href="/projects">projects page.</a>
        <br />
    </p>
    <h2>Links</h2>
    <div class="socials">
        {{ self::social_link(name="fedi", link="https://wetdry.world/@angel_val", img="images/icons/fedi.png") }}
        {{ self::social_link(name="gitlab", link="https://gitlab.com/users/angel-val/projects", img="images/icons/gitlab.svg") }}
        {{ self::social_link(name="steam", link="https://steamcommunity.com/id/angel-val/", img="images/icons/steam.png") }}
        {{ self::social_link(name="twitch", link="https://twitch.tv/angel__val", img="images/icons/twitch.png") }}
        {{ self::social_link(name="itch.io", link="https://angel-val.itch.io/", img="images/icons/itch.svg") }}
        {{ self::social_link(name="email me", link="mailto:angel@angel-val.gay", img="images/icons/mailbox.svg") }}
        {{ self::social_link(name="ko-fi", link="https://ko-fi.com/angel_val", img="images/icons/kofi.png") }}
    </div>
    <h1>Stamps</h1>
    <div>
        {{ self::stamp(link="https://astral.town/", img="https://i.imgur.com/MdRjyyV.png") }}
        {{ self::stamp(link="https://neocities.org/", img="images/stamps/neocities-vaporwave-stamp.png") }}
        {{ self::stamp(link="https://sadgrl.online/", img="https://sadgrl.online/assets/images/buttons/sadgrlonline.gif") }}
        {{ self::stamp(link="https://cyber.dabamos.de/88x31/", img="images/stamps/88x31.gif") }}
        {{ self::stamp(link="https://maia.crimew.gay", img="https://maia.crimew.gay/badges/maia.crimew.gay.png") }}
        {{ self::stamp(link="https://neovim.io/", img="images/stamps/neovim.png") }}
        {{ self::stamp(link="https://yesterweb.org", img="https://yesterweb.org/img/Yesterweb_88x31.gif") }}
        {{ self::stamp(link="https://yesterweb.org/no-to-web3/", img="https://auzziejay.com/images/noweb32.gif") }}
        <img src="images/stamps/acab.gif" class="stamp" />
        <img src="images/stamps/gay.gif" class="stamp" />
    </div>
    <p>
        <br />
    </p>
    <div class="arrowed textbox" style="flex-direction: column">
        <h2>My own stamp</h2>
        <p>
            Put this code on your page to add my stamp, and send me a message so I can add yours :)
            <br />
            (triple click and ctrl+c)
        </p>
        <div id="stc">
            <a href="/" target="_blank">
                <img src="images/stamps/angel-val.png" class="stamp" />
            </a>
            <textarea readonly>
                <a href="https://angel-val.gay" target="_blank"><img src="https://angel-val.gay/images/stamps/angel-val.png"></a>
            </textarea>
        </div>
        <img src="images/assets/arrow.png" class="textbox-arrow" />
    </div>
{% endblock content %}
