<div class="links">
    <h2>Links</h2>
    <div class="sidebar-button">
        <a href="/">
            <p>Home</p>
        </a>
    </div>
    <div class="sidebar-button">
        <a target="_blank" href="https://angel-val.123guestbook.com/">
            <p>Guestbook</p>
        </a>
    </div>
    <div class="sidebar-button">
        <a href="/projects">
            <p>Projects</p>
        </a>
    </div>
    <p>-UNDER CONSTRUCTION-</p>
    <div class="sidebar-button">
        <a>
            <p>Blog</p>
        </a>
    </div>
    <div class="sidebar-button">
        <a>
            <p>Museum</p>
        </a>
    </div>
</div>
